.custom-font-1{
    font-family: century, sans-serif;
}

.custom-big-font-size{
    font-size: 64px;
}

.custom-icon-size-1{
    width: 20px;
    height: 20px;
}

.custom-icon-size-2{
    width: 100px;
    height: 100px;
}